body {
    background-color: #f4f4f4;
}

.fifa{
    color: #f4f4f4;
    margin-right: auto;
}

.texto {
    color: #f4f4f4;
    font-size: small;
    margin-left: auto;
    padding-left: 10px;
}

header {
    background-color: black;
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid grey;
    position: relative;
}

nav {
    background-color: black;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    padding: 20px;
    position: relative;
}


.fade-nav {
    position: absolute;
    right: 350px;
    top: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to right, transparent, black);
    pointer-events: none;
}

h1{
    position: relative;
    top: -80px;
    margin-left: 50px;
}

.equiposarriba {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.equiposabajo {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.imag {
    position: relative;
    left: 80px;
    top: -120px;
    width: 5%;
    border: 15px solid black;
    border-radius: 14%;
}

.txiz {
    text-align: left;
    color: grey;
    font-size: small;
}

.txde {
    text-align: right;
    font-size: small;
    position: relative;
    top: -20px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carta {
    margin: 20px;
    width: 15%;
    border: 1px solid #f4f4f4;
}

.fondo {
    background-color: white;
}

.tituloc {
    text-align: left;
    margin: 20px;
    font-size: 35px;
}